{- |
Module                  : {{{ _haskell_module_name }}}
Copyright               : {{{ _haskell_module_copyright }}}
SPDX-License-Identifier : MPL-2.0
Maintainer              : {{ author }} <{{ email }}>
Stability               : Stable
Portability             : Portable

{{{ _haskell_module_longdesc }}}
-}