build: off

before_test:
# http://help.appveyor.com/discussions/problems/6312-curl-command-not-found
- set PATH=C:\Program Files\Git\mingw64\bin;%PATH%

- curl -sS -ostack.zip -L --insecure http://www.stackage.org/stack/windows-x86_64
- 7z x stack.zip stack.exe

clone_folder: "c:\\stack"
environment:
  global:
    STACK_ROOT: "c:\\sr"

test_script:
- stack setup > nul
# The ugly echo "" hack is to avoid complaints about 0 being an invalid file
# descriptor
- echo "" | stack --arch x86_64 --no-terminal build summoner --bench --no-run-benchmarks --test

# Attempts to deploy on Windows CI
# - ps: cp "$(./stack.exe path --local-install-root)/bin/summon.exe" summon-cli.exe
#
# artifacts:
#   - path: summon-cli.exe
#     name: executable
#
# deploy:
#   description: 'Summoner release created by AppVeyor CI'
#   provider: GitHub
#   auth_token: '%GitHub_auth_token%'
#   artifact: executable
#   draft: false
#   prerelease: false
#   on:
#     branch: master                 # release from master branch only
#     appveyor_repo_tag: true        # deploy on tag push only
