language: haskell

git:
  depth: 5

cabal: "3.14.2.0"

cache:
  directories:
  - "$HOME/.cabal/store"

jobs:
  include:
  - ghc: 8.4.4
  - ghc: 8.6.5
  - ghc: 8.8.4
  - ghc: 8.10.7
  - ghc: 9.0.2
  - ghc: 9.2.8
  - ghc: 9.4.8
  - ghc: 9.6.7
  - ghc: 9.8.4
  - ghc: 9.10.3
  - ghc: 9.12.3

install:
  # HLint check
  - curl -sSL https://raw.github.com/ndmitchell/neil/master/misc/travis.sh | sh -s -- hlint .

  - cabal update
  - cabal configure --enable-tests --enable-benchmarks --enable-documentation --test-show-details=direct --write-ghc-environment-files=always
  - cabal build all

script:
  - cabal test all

notifications:
  email: false
