language: haskell

git:
  depth: 5

cabal: "3.10.3.0"

cache:
  directories:
  - "$HOME/.cabal/store"
  - "$HOME/.stack"
  - "$TRAVIS_BUILD_DIR/.stack-work"

jobs:
  include:
  - ghc: 8.0.2
  - ghc: 8.2.2
  - ghc: 8.4.4
  - ghc: 8.6.5
  - ghc: 8.8.4
  - ghc: 8.10.7
  - ghc: 9.0.2
  - ghc: 9.2.8
  - ghc: 9.4.8
  - ghc: 9.6.7
  - ghc: 9.8.4
  - ghc: 9.10.3
  - ghc: 9.12.3

  - ghc: 8.0.2
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.0.2.yaml"

  - ghc: 8.2.2
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.2.2.yaml"

  - ghc: 8.4.4
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.4.4.yaml"

  - ghc: 8.6.5
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.6.5.yaml"

  - ghc: 8.8.4
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.8.4.yaml"

  - ghc: 8.10.7
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.10.7.yaml"

  - ghc: 9.0.2
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.0.2.yaml"

  - ghc: 9.2.8
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.2.8.yaml"

  - ghc: 9.4.8
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.4.8.yaml"

  - ghc: 9.6.7
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.6.7.yaml"

  - ghc: 9.8.4
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.8.4.yaml"

  - ghc: 9.10.3
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.10.3.yaml"

  - ghc: 9.12.3
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack.yaml"

  allow_failures:

  - ghc: 8.0.2
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.0.2.yaml"

  - ghc: 8.2.2
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.2.2.yaml"

  - ghc: 8.4.4
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.4.4.yaml"

install:
  # HLint check
  - curl -sSL https://raw.github.com/ndmitchell/neil/master/misc/travis.sh | sh -s -- hlint .

  - |
    if [ -z "$STACK_YAML" ]; then
      cabal update
      cabal configure --enable-tests --enable-benchmarks --enable-documentation --test-show-details=direct --write-ghc-environment-files=always
      cabal build all
    else
      curl -sSL https://get.haskellstack.org/ | sh
      stack --version
      stack build --system-ghc --test --bench --no-run-tests --no-run-benchmarks --ghc-options=-Werror
    fi

script:
  - |
    if [ -z "$STACK_YAML" ]; then
      cabal test all
    else
      stack test --system-ghc
    fi

notifications:
  email: false
