language: haskell

git:
  depth: 5

cabal: "3.14.2.0"

cache:
  directories:
  - "$HOME/.stack"
  - "$TRAVIS_BUILD_DIR/.stack-work"

jobs:
  include:

  - ghc: 8.4.4
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.4.4.yaml"

  - ghc: 8.6.5
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.6.5.yaml"

  - ghc: 8.8.4
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.8.4.yaml"

  - ghc: 8.10.7
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.10.7.yaml"

  - ghc: 9.0.2
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.0.2.yaml"

  - ghc: 9.2.8
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.2.8.yaml"

  - ghc: 9.4.8
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.4.8.yaml"

  - ghc: 9.6.7
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.6.7.yaml"

  - ghc: 9.8.4
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.8.4.yaml"

  - ghc: 9.10.3
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-9.10.3.yaml"

  - ghc: 9.12.2
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack.yaml"

  allow_failures:

  - ghc: 8.4.4
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack-8.4.4.yaml"

install:
  # HLint check
  - curl -sSL https://raw.github.com/ndmitchell/neil/master/misc/travis.sh | sh -s -- hlint .

  - curl -sSL https://get.haskellstack.org/ | sh
  - stack --version
  - stack build --system-ghc --test --bench --no-run-tests --no-run-benchmarks --ghc-options=-Werror

script:
  - stack test --system-ghc

notifications:
  email: false
